{% extends 'base.html' %}

{% block head_title %} Chirper {% endblock head_title%}

{% block content %}

Welcome to Chirper.

<div id='chirps'>
    Loading
</div>

<script>
  const chirpsElement = document.getElementById("chirps") //get html element


  const xhr = new XMLHttpRequest();
  const method = "GET";
  const url = "/chirps";
  const responseType = "json";

  handleDidLike = (chirp_id, currentCount) => {

  }

  LikeBtn = (chirp) => {
    return "<button class=' btn btn-primary' onclick=handleDidLike(" + 
    chirp.id + ", " + chirp.likes + ")>Like</button>"
  }

  formatChirpElement = (chirp) => {
    let formattedChirp = "<div class='mb-4' id='chirp-" + chirp.id 
    + "'><p>" + chirp.content + 
      "</p><div class='btn-group'>" + LikeBtn(chirp) +
      "</div></div>"
    return formattedChirp
  }

  xhr.responseType = responseType;
  xhr.open(method, url);
  xhr.onload = () => {
    const serverResponse = xhr.response
    const listedItems = xhr.response.response //array
    let finalChirpStr = ""
    let i;
    for (i=0; i < listedItems.length; i++) {
        let chirpObj = listedItems[i]
        let currentItem = formatChirpElement(chirpObj)
        finalChirpStr += currentItem 
    }
    chirpsElement.innerHTML = finalChirpStr
  };
  xhr.send();
</script>

{% endblock content %}
