{% extends 'base.html' %}

{% block head_title %} Chirper {% endblock head_title%}

{% block content %}

Welcome to Chirper.

<div id='chirps'>
    Loading
</div>

<script>
  const chirpsElement = document.getElementById("chirps") //get html element


  const xhr = new XMLHttpRequest();
  const method = "GET"; // "POST"
  const url = "/chirps";
  const responseType = "json";

  xhr.responseType = responseType;
  xhr.open(method, url);
  xhr.onload = () => {
    const serverResponse = xhr.response
    const listedItems = xhr.response.response //array
    let finalChirpStr = ""
    let i;
    for (i=0; i < listedItems.length; i++) {
        console.log(i)
    }
  };
  xhr.send();
</script>

{% endblock content %}
